<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<mvc:annotation-driven />

	<context:component-scan base-package="io.github.alicankustemur.musicstore" />
  
  <!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
	<mvc:resources mapping="/resources/**" location="/resources/" />
  
  <!-- Resolve view name into jsp file located on /WEB-INF -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<util:properties id="dbConfiguration" location="classpath:mysql.properties" />
  
  <!-- MySQL Datasource -->
	<bean class="org.springframework.jdbc.datasource.SingleConnectionDataSource" id="dataSource">
		<property name="driverClassName" value="#{dbConfiguration['driverClassName']}" />
		<property name="url" value="#{dbConfiguration['url']}" />
		<property name="username" value="#{dbConfiguration['username']}" />
		<property name="password" value="#{dbConfiguration['password']}" />
		<property name="connectionProperties" value="#{dbConfiguration['connectionProperties']}" />
		<property name="suppressClose" value="true"></property>
	</bean>
  
  <!-- EntityManagerFactory -->
	<bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="entityManagerFactory">
		<property name="persistenceUnitName" value="persistenceUnit" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="dataSource" ref="dataSource" />
	</bean>
  
  <!-- Transaction Manager -->
	<bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
  
  <!-- Enable @Transactional annotation -->
	<tx:annotation-driven  transaction-manager="transactionManager"/>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>

</beans>
